*{
   
  font-size: large;  
  background-image: url("./icegif-526.gif")

}

header {
    display: flex;
    display: inline;
    width: 50px;
    height: 60px;
    color: rgb(233, 24, 76);
    font-size: 100px;
    float: top;
margin-bottom: 500px;

}

h1 { 
    display: flex;
    display: inline;
    width: 50px;
    height: 60px;
    color: rgb(233, 24, 76);
    font-size: 100px;
    float: center;
margin: auto;
}

 h2 { 
    display: flex;
    display: inline-table;
    width: 50px;
    height: 60px;
    color: rgb(233, 24, 76);
    font-size: 100px;
    float: bottom;
margin-top: 500px;
}


