body {
    display: flex;
flex-direction: 0 0 1;
background-image: url("./tanner-van-dera-oaQ2mTeaP7o-unsplash.jpg");
background-size: cover;
background-position: center;
}

h1 {
    font-size: 50px;
 display: flex;
color: black;
text-shadow: 10px;
text-shadow: gray;
text-align:center ;
 }

 h2 { 
    display: flex;
    display:inline-table;
    width: 50px;
    height: 60px;
    color: blue;
    font-size: 100px;
    float: bottom;
margin-top: 500px;
}


