body {
    display: flex;
flex-direction: 0 0 1;
background-image: url("./tanner-van-dera-oaQ2mTeaP7o-unsplash.jpg")
}

h1 {
 display: flex;
color: black;
text-shadow: 10px;
text-shadow: gray;
 }

 h2 { 
    display: flex;
    display:inline-table;
    width: 50px;
    height: 60px;
    color: rgb(233, 24, 76);
    font-size: 100px;
    float: bottom;
margin-top: 500px;
}


